* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial;
  text-align: center;
  direction: rtl;
  background: #bdf7ff;
  margin: 20px;
}
#tracker {
  display:flex;
  gap: 20px;
  padding: 10px 16px;
  justify-content: center;

}
.section {
  margin: 30px 0;
}
.exercise {
  background: #fff;
  margin: 10px auto;
  padding: 10px;
  width: 300px;
  border-radius: 8px;
  box-shadow: 0 0 10px #ccc;
}
.controls {
  margin-top: 10px;
}
canvas {
  max-width: 90%;
  margin-top: 30px;
}
button {
  padding: 8px 16px;
  margin: 0 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  color: #000;
  background-color: #eee;
  border: none;
}
button:hover {
  color: #fff;
  background-color: #000;

}
input[type="number"] {
  width: 100px;
  height: 40px;
  text-align: center;
  padding-right: 10px;
}
h1 {
  font-size: 1.6rem;
  color: #000;
}
h2 {
  font-size: 1.5rem;
  color: #000;
}
p {
  font-size: 1.2rem;
  color: #000;
}
#clearChart {
  background: red;
  color: white;
  margin-top: 20px;
}
@media (max-width: 767px) {
  #tracker {
    display: flex;
    flex-direction: column;
  }
  .section {
    width: 100%;
  }
}